body {
  display: flex;
  flex-direction: column;
  margin: 0 300px 0 300px;
  font-family: "Amatic SC", cursive;
  /* background-color: #edbaaf; */
  background-size: cover;
  overflow: hidden;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;;
  background-image: linear-gradient(to right, #054f7d,#0053cf63,#054f7d);
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients;
}

.main {
  height: 600px;
  width: 1480px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#mozart {
  width: 10%;
  position: absolute;
  bottom: 16px;
  right: 60px;
}

#bubble {
  width: 16%;
  position: absolute;
  bottom: 248px;
  right: 132px;
  visibility: visible;
}

button {
  position: absolute;
  left: 90px;
  bottom: 150px;
  padding: 40px;
  font-family: "Amatic SC";
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  transition: 0.5s ease;
  color: #edbaaf;
    font-size: 3rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 14px 20px 20px 5px #053f63;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.difficulty-container {
  position: absolute;
  left: 15px;
  bottom: 510px;
  padding: 40px;
  font-family: "Amatic SC";
  align-self: center;
  background: transparent;
  padding: 2rem 2rem;
  margin: 0 1rem;
  transition: 0.5s ease;
  color: #edbaaf;
  font-size: 3rem;
  letter-spacing: 1px;
    outline: none;
    box-shadow: 14px 20px 20px 5px #053f63;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    user-select: none;
}

h1 {
  color: #edbaaf;
  font-size: 3em;
  text-align: center;
  letter-spacing: 1em;
  display: inherit;
  margin-top: 0;
  margin-bottom: 0;
}


.title {
  margin: auto;
}
canvas {
  border: 2px solid rgb(237, 161, 149);
  /* margin-right: 160px; */
  /* background-image: linear-gradient(#775D7F, #EDBAAF); */
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;;
  /* background-image: linear-gradient(to right, #054f7d,#00a7cf,#efe348,#861a54,#054f7d);
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: gradients; */
}
ul {
  list-style-type: none;
    display: flex;
    /* padding-left: 75px; */
    width: 78%;
    /* padding-right: 50px; */
    margin-top: -3px;
    margin-left: 40px;}

.tecla {
  height: 300px;
  width: 210px;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 30px 30px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(top, #eee 0%, #fff 100%);
  opacity: 0.7;
}

.tecla:hover {
  /*background-color: rgb(165, 35, 35);*/

  opacity: 1;
}

.doe {
  background-color: #035c89;
}

.re {
  background-color: #0d3d48;
}

.mi {
  background-color: #72ffc4;
}

.fa {
  background-color: #a0e85e;
}

.sol {
  background-color: #89a762;
}

.la {
  background-color: #ffae68;
}

.si {
  background-color: #e56d85;
}

@keyframes gradients {
  0%   {background-position: 0 0;}
  25% {background-position: 50% 0;}
  50% {background-position: 90% 0;}
  60% {background-position: 60%;}
  75% {background-position: 40%;}
  100%  {background-position: 0 0;}
}
