

body {
  display: flex;
  flex-direction: column;
  margin: 0 300px 0 300px;
  font-family: 'Amatic SC', cursive;
  background-color: #EDBAAF;
  background-size: cover;
}

.main {
  height: 600px;
  width: 1480px;
  margin:auto;
  display: flex;
  flex-direction: column;
  
}


#mozart {
  width: 10%;
  position: absolute;
  bottom: 16px;
  right: 60px;
 
}

button {
  position: absolute;
  left: 90px;
  bottom: 100px;
  padding: 40px;
  border-radius: 15px;
  background-color: maroon;
  color: ghostwhite;
  font-family: 'Amatic SC';
  font-size: 45px;
}

h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 1em;
  display: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

.title{
margin:auto;
}
canvas {
  border: 2px solid blueviolet;
  /* margin-right: 160px; */
  /* background-image: linear-gradient(#775D7F, #EDBAAF); */
  border-radius: 45px;
  box-shadow: 0 0 40px rgb(60, 9, 128);

}
ul {
  list-style-type: none;
  display: flex;
  /* padding-left: 75px; */
  width: 78%;
  /* padding-right: 50px; */
  margin-top: 0;
}



.tecla {
  height: 300px;
  width: 210px;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius: 0 0 30px 30px;
	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(top, #eee 0%,#fff 100%);
  opacity: 0.7;
}

.tecla:hover {
  /*background-color: rgb(165, 35, 35);*/
  
  opacity: 1;
}

.doe {
  background-color: #C76CE5;
}

.re {
  background-color:#6EA3E8;
}

.mi {
  background-color:#72FFC4;
}

.fa {
  background-color: #A0E85E;
}

.sol {
  background-color:#FFE15D;
}

.la {
  background-color:#FFAE68;
}

.si {
  background-color:#E56D85;
}
